/* body{
    background-color: black;
} */

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 400px 200px;
    background-color: burlywood;
    border: 1px solid red;
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: black;
    border: 1px solid white;
    color: white;

}
.container1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
background-color: azure;
border: 1px solid red;
}

.container11{
background-color: brown;
height: 100px;
width: 100px;
margin-top: 20px;
margin-left: 20px;
}
.container12{
    background-color: aqua;
    margin-top: 20px;
    height: 100px;
   width: 100px;
}
.container13{
    background-color: chartreuse;
    height: 100px;
   width: 100px;
   margin-left: 20px;
}

.container14{
    background-color: chartreuse;
    height: 100px;
   width: 100px;
}
.container2{
background-color: burlywood;
border: 1px solid black;
}

.container3{
background-color: aqua;
border: 1px solid cyan;
}

.container4{
background-color: chartreuse;
border: 1px solid green;
}